/* CSS Document */
p{
	line-height: 1.5em;
}

.doctor-bio p{
	
	margin: 0px 10px 2em 10px;

}

body {
	background: url("./Images/star-background.jpg");
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content {
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 10px solid white;
	border-top: 10px solid white;
	background: none;
	margin: auto;
	width: 950px;
}

#banner {
	width: 950px;
	height: 150px;
}

#nav {
	padding: 0;
	padding-top: 20px;
	margin: 20px 10px 20px 10px;
}

#nav li{
	display: inline;	
}

#nav li a{
	text-decoration: none;
	color: #222940;
	border: 2px solid #222940;
	background-color: #F2F2F2;
	padding: 10px 30px 10px 30px;
	margin-right: 40px;
	border-radius:20px;
}

#nav li a:hover{
	background-color: #222940;
	border: 2px solid #F2F2F2;
	color: #F2F2F2;
	border-radius:20px;
}

#editable {
	margin: 20px;
	background-color: #F2F2F2;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px;
}


#wrapper {
	background-color: #A69F8A;
	margin: 10px;
	margin-radius: 20px;
	padding-bottom: 5px;
}

#wrapper h1 {
	margin-left: 20px;
}

.portrait{
	align: top;
	border-radius: 100%;
	border: 1px solid black;
}

#doctor-selection{
	margin: auto;	
}

#doctor-selection img{ 
	margin: auto;
}
